<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h3> Architects involved </h3>

  <%= form.collection_check_boxes :architect_ids, Admin::Architect.all, :id, :name %>

  <div class="field">
    <%= form.label :long_desc %>
    <%= form.text_area :long_desc %>
  </div>

  <div class="field">
    <%= form.label :short_desc %>
    <%= form.text_area :short_desc %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :function %>
    <%= form.collection_select :function_id, Admin::ProjectFunction.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.collection_select :status_id, Admin::ProjectStatus.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
