<p id="notice"><%= notice %></p>

<h1>Architects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @architects.each do |architect| %>
      <tr>
        <td><%= architect.name %></td>
        <td><%= position_name architect %></td>
        <td><%= architect.desc %></td>
        <td><%= link_to 'Show', admin_architect_path(architect) %></td>
        <td><%= link_to 'Edit', edit_admin_architect_path(architect) %></td>
        <td><%= link_to 'Destroy', admin_architect_path(architect), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Architect', new_admin_architect_path %>
