<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Long desc:</strong>
  <%= @project.long_desc %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @project.short_desc %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project.year %>
</p>

<p>
  <strong>Function:</strong>
  <%= function_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= status_name %>
</p>

<p>
  <strong>Involved architects:</strong>
  <%= architect_names %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
